In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date, datetime, timedelta
import os
from pathlib import Path
import time, sys
import json

In [3]:
try:
    stored_stocks = pd.DataFrame(pd.read_pickle('stored_stocks'))
except FileNotFoundError:
    stored_stocks = pd.DataFrame({'ticker':[]})

In [3]:
completions = pd.read_csv('ipeds/completions/c2021_a.csv')
completions

,UNITID,CIPCODE,MAJORNUM,AWLEVEL,XCTOTALT,CTOTALT,XCTOTALM,CTOTALM,XCTOTALW,CTOTALW,...,XCUNKNM,CUNKNM,XCUNKNW,CUNKNW,XCNRALT,CNRALT,XCNRALM,CNRALM,XCNRALW,CNRALW
0,100654,1.0999,1,5,R,9,R,1,R,8,...,Z,0,Z,0,R,1,Z,0,R,1
1,100654,1.1001,1,5,R,10,R,5,R,5,...,Z,0,R,1,Z,0,Z,0,Z,0
2,100654,1.1001,1,7,R,6,Z,0,R,6,...,Z,0,Z,0,R,1,Z,0,R,1
3,100654,1.1001,1,17,R,4,R,1,R,3,...,Z,0,Z,0,R,3,R,1,R,2
4,100654,1.9999,1,5,R,6,R,2,R,4,...,R,1,Z,0,Z,0,Z,0,Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296338,497329,99.0000,1,21,R,0,R,0,R,0,...,R,0,R,0,R,0,R,0,R,0
296339,497338,51.0801,1,21,R,0,R,0,R,0,...,Z,0,Z,0,R,0,R,0,R,0
296340,497338,51.3801,1,3,R,0,R,0,R,0,...,Z,0,Z,0,R,0,R,0,R,0
296341,497338,99.0000,1,3,R,0,R,0,R,0,...,Z,0,Z,0,R,0,R,0,R,0
296342,497338,99.0000,1,21,R,0,R,0,R,0,...,Z,0,Z,0,R,0,R,0,R,0

In [6]:
directory_info = pd.read_csv('ipeds/directory_info/hd2021.csv', encoding = "ISO-8859-1")
directory_info

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",...,1,290,-2,1089,Madison County,105,-86.568502,34.783368,109,1
1,100663,University of Alabama at Birmingham,UAB,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,93,1
2,100690,Amridge University,Southern Christian University Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael C.Turner,...,1,388,-2,1101,Montgomery County,102,-86.174010,32.362609,127,2
3,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Darren Dawson,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,93,2
4,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Quinton T. Ross,...,1,388,-2,1101,Montgomery County,107,-86.295677,32.364317,99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6284,497301,Avalon Institute-Las Vegas,,"2650 South Decatur Boulevard Suites 1, 6, 8-10",Las Vegas,NV,89102-0046,32,8,Clint Tryon,...,1,332,-2,32003,Clark County,3201,-115.206409,36.142355,45,2
6285,497310,Medspa Academies-National Institute of Modern ...,,3993 Howard Hughes Parkway Suite 150,Las Vegas,NV,89169-6745,32,8,Carrie Brinton,...,1,332,-2,32003,Clark County,3201,-115.158173,36.117236,29,2
6286,497329,American Institute-Cherry Hill,,2201 Route 38 8th Floor,Cherry Hill,NJ,08002-4309,34,2,Christopher Coutts,...,1,428,-2,34007,Camden County,3401,-75.015417,39.939428,57,2
6287,497338,Glendale Career College-North-West College-Bak...,,3000 Ming Avenue,Bakersfield,CA,93304-5075,6,8,Mitchell Fuerst,...,1,-2,-2,6029,Kern County,623,-119.035082,35.339951,221,2
6288,497347,University of Maine - Machias,,116 O'Brien Avenue,Machias,ME,04654-1397,23,1,,...,-2,-2,-2,23029,Washington County,2302,-67.458025,44.708803,-2,-2

In [12]:
frames = [completions, directory_info]
result = pd.merge(completions, directory_info, on="UNITID"
result

ValueError: Only can inner (intersect) or outer (union) join the other axis

In [11]:
result.to_csv('ipeds/iped_merged_data_file.csv', index=False)